<!DOCTYPE HTML>
<html>

<head>
	<title>Cohorts</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="format-detection" content="telephone=no">
	<link href="js/vendor/normalize.css/normalize.css" rel="stylesheet" />
	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="css/browserincompatible.css" rel="stylesheet" />
	<script type="text/javascript" src="js/vendor/modernizr.js"></script>
	<script type="text/javascript">
	 if (Modernizr.webgl) {
            var pathArray = window.location.pathname.split('/');
       
       	    window.location.pathname = pathArray[1] + '/' + 'index.html';
        };
	</script>
</head>

<body>
	<div class="clftopwrapper">

		<a href="#" title="Delaware Department of Education" class="doelogolink">
			<img src="images/clfimages/DDoE.png" />
		</a>
		<h4>Cohorts Management System</h4>
		<div id="content" class="routeroutlet">
			<div class="browser-incompatible">
				<div class="bg-danger informational">
					Your Browser does not meet the minimum requirements needed to run the application, please use any of the recommended browsers
					listed below.
				</div>
				<div class="browserimages">
					<div class="browsercontainer">
						<div class="imagecontainer">
							<img alt="Internet Explorer Logo" src="images/browsers/ie.png" />
						</div>
						<div class="title">
							Internet Explorer
						</div>
						<div class="versions">
							Internet Explorer 11 and above <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie-8">Download</a>
						</div>

					</div>
					<div class="browsercontainer">
						<div class="imagecontainer">
							<img alt="Chrome Logo" src="images/browsers/chrome.png" />
						</div>
						<div class="title">
							Chrome
						</div>
						<div class="versions">
							Chrome 50 and above <a href="https://www.google.com/intl/en/chrome/browser/">Download</a>
						</div>

					</div>
					<div class="browsercontainer">
						<div class="imagecontainer">
							<img alt="Firefox Logo" src="images/browsers/firefox.png " />
						</div>
						<div class="title">
							Firefox
						</div>
						<div class="versions">
							Firefox Version 40 and above <a href="http://www.mozilla.org/en-US/firefox/fx/#desktop">Download</a>
						</div>

					</div>
					<div class="browsercontainer">
						<div class="imagecontainer">
							<img alt="Safari Logo" src="images/browsers/Safari.png " />
						</div>
						<div class="title">
							Safari
						</div>
						<div class="versions">
							Safari Version 9 and above <a href="http://www.apple.com/safari/">Download</a>
						</div>

					</div>
				</div>
			</div>
		</div>
</body>

</html>