
$font-stack: 'Merriweather Sans', sans-serif;
$font-stack-footer: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$font-size: 16px;
$primary-color: black;
/*$primary-color: #AEAEAE;*/
/*$header-color: #B9A931;*/
/*$header-background-color: #eaebeb;*/
/*$header-background-color: rgb(185, 169, 49);*/
$header-background-color: #f3f4f5;
/*$header-color:#266B9F;*/
$color-gold: #B9A931;
$header-color: #266B9F;
$footer-bg-color: #4581AA;
$footer-color: #fff;


